[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/roxo-tom"]
	path = themes/roxo-tom
	url = https://github.com/tomshanley/roxo-hugo.git
